@font-face {
  font-family: 'Aaargh';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/Aaargh.ttf');
}

@font-face {
  font-family: 'Ostrich';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/ostrich-regular.ttf');
}

@font-face {
  font-family: 'Ostrich';
  font-style: normal;
  font-weight: 900;
  src: url('/fonts/OstrichSans-Black.otf');
}

body {
  color: #000;
  font-family: 'Aaargh';
  padding: 0 10px;
}

a {
  color: #000;
  text-decoration: none;
}

header {
  padding-top: 15px;
}

header h1 {
  font-family: 'Ostrich';
  font-weight: 900;

  margin: 0;
}

.mittwochs-status {
  font-family: 'Ostrich';
  font-weight: 900;

  color: #FFF;
  margin-bottom: 10px;
  padding: 10px;
}

.mittwochs-status-today {
  background-color: #55AA55;
}

.mittwochs-status-upcoming {
  background-color: #407F7F;
}

.mittwochs-status-previously {
  background-color: #D46A6A;
}

.mittwoch {
  border: 2px solid #999;
  margin-bottom: 6%;
  padding: 6px;
}

.mittwoch h4 {
  margin: 0 0 6px 0;

  border-bottom: 1px solid #999;
  font-family: 'Ostrich';
}

.mittwoch h4 small {
  font-family: 'Ostrich';
  font-weight: normal;
}

.mittwoch-beer-footer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  align-items: baseline;

  border-top: 2px solid #999;
}

.mittwoch-beer-footer .social {
  width: 50%;
  padding-top: 65px;
}

.mittwoch header a:hover img, .mittwoch-beer-footer .social a:hover img {
  opacity: 0.5;
}

.mittwoch-beer-footer .social .twitter {
  height: 60px;
}

.mittwoch-beer-footer .social .facebook {
  height: 47px;
  padding-bottom: 7px;
}

.mittwoch-beer-footer .logo {
  width: 50%;
  text-align: right;
}

.mittwoch-beer-footer .logo img {
  height: 130px;
}
